.header,
.main {
  margin: auto;
  width: 90%;
  max-width: 80rem;
  display: flex;
  margin-top: 2rem;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  // h2 {
  //   font-family: 'Montserrat', sans-serif;
  //   font-weight: 400;
  // }
}

.header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 60rem) {
    flex-direction: column;
  }

  .text {
    flex-basis: 60%;
    // flex-basis: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;

    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }

  .image {
    flex-basis: 38%;
    position: relative;
    display: flex;
    // max-width: 25rem;
    iframe {
      width: 100%;
      height: 15rem;
      margin-top: 3rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.5em;
  }
}

.main {
  flex-direction: column;

  // minimum value for quick download
  // to be visible in IE
  // margin-top: 4rem;
  margin-top: 0;

  > header {
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .quickDownload {
      // margin-top: 1rem;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;

      a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin-top: 0.25em;
        padding: 0.25em 0.5em;
        padding-right: 4em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 92.5 56' style='enable-background:new 0 0 92.5 56;' xml:space='preserve'%3E%3Cpath style='fill:%23FFAE42;' d='M29.9,41c-0.9,0-1.6-0.7-1.6-1.6V14.3h10.2c0.6,0,1.1,0.3,1.4,0.9l0.1,0.2l3,3.9h-2.5v9.1h-8.4 l12.3,12.3l12.3-12.3h-8.4v-8.6H59c0.9,0,1.6,0.7,1.6,1.6v18.2c0,0.9-0.7,1.6-1.6,1.6H29.9z'/%3E%3Cpath style='fill:%23FFAE42;' d='M38.3,16.3L38.3,16.3l0.3,0.4l0.3,0.4h-0.3v4.2v4.9h-1.3h-6.8v-9.9H38.3 M58.5,21.8v4.4h-6.8h-1.3 v-4.4H58.5 M58.5,29.5v9.4h-9.4l5.6-5.6L58.5,29.5 M30.4,29.5l3.8,3.8l5.6,5.6h-9.4V29.5 M38.6,12.2H28.1c-1,0-1.8,0.8-1.8,1.8 v25.5c0,2,1.6,3.6,3.6,3.6H59c2,0,3.6-1.6,3.6-3.6V21.3c0-2-1.6-3.6-3.6-3.6H44.5l-2.6-3.5C41.2,12.9,40,12.2,38.6,12.2L38.6,12.2z M44.5,37.7l-7.3-7.3h5.5v-9.1h3.6v9.1h5.5L44.5,37.7L44.5,37.7z'/%3E%3Cline style='stroke:%23AAAAAA;stroke-width:3' x1='0.5' y1='0' x2='0.5' y2='56'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: 100% 0;
        background-repeat: no-repeat;
        text-decoration: none;
        color: inherit;

        // -ms-high-contrast is only supported in IE up to Edge 18
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          // this media query is necessary because IE thinks it supports
          // background-position but it doesn't
          background-position-x: 10rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .expandBoxHeader {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h1 {
      text-align: left;
      font-size: 1.2rem;
    }

    p {
      margin-left: auto;
    }

    a {
      border: none;
      background: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 71 71' style='enable-background:new 0 0 71 71;' xml:space='preserve'%3E%3Cpath style='fill:%23FFAE42;' d='M35.5,68.9c-18.4,0-33.4-15-33.4-33.4c0-18.4,15-33.4,33.4-33.4c18.4,0,33.4,15,33.4,33.4 C68.9,53.9,53.9,68.9,35.5,68.9z M19.1,17.7c-2.2,0-3.9,1.8-3.9,3.9v25.5c0,3.2,2.6,5.7,5.7,5.7h29.1c3.2,0,5.7-2.6,5.7-5.7V28.9 c0-3.2-2.6-5.7-5.7-5.7H36.5l-1.9-2.5c-1-1.8-2.9-3-5-3H19.1z M33.3,40.1h4.5l-2.2,2.2L33.3,40.1z'/%3E%3Cpath style='fill:%23FFAE42;' d='M35.5,4.2c17.3,0,31.3,14.1,31.3,31.3S52.8,66.8,35.5,66.8S4.2,52.8,4.2,35.5S18.2,4.2,35.5,4.2 M20.9,54.9h29.1c4.3,0,7.8-3.5,7.8-7.8V28.9c0-4.3-3.5-7.8-7.8-7.8H37.6l-1.2-1.6c-1.4-2.4-3.9-3.9-6.8-3.9H19.1c-3.3,0-6,2.7-6,6 v25.5C13.1,51.4,16.6,54.9,20.9,54.9 M35.5,0C15.9,0,0,15.9,0,35.5C0,55.1,15.9,71,35.5,71S71,55.1,71,35.5C71,15.9,55.1,0,35.5,0 L35.5,0z M20.9,50.7c-2,0-3.6-1.6-3.6-3.6V21.6c0-1,0.8-1.8,1.8-1.8h10.5c1.4,0,2.6,0.8,3.3,2l2.6,3.5h14.6c2,0,3.6,1.6,3.6,3.6 v18.2c0,2-1.6,3.6-3.6,3.6H20.9L20.9,50.7z M37.3,28.9h-3.6V38h-5.5l7.3,7.3l7.3-7.3h-5.5V28.9L37.3,28.9z'/%3E%3C/svg%3E%0A");
      width: 3rem;
      height: 3rem;
      margin-left: 1rem;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 71 71' style='enable-background:new 0 0 71 71;' xml:space='preserve'%3E%3Cpath style='fill:%23FFC44D;' d='M35.5,68.9c-18.4,0-33.4-15-33.4-33.4c0-18.4,15-33.4,33.4-33.4c18.4,0,33.4,15,33.4,33.4 C68.9,53.9,53.9,68.9,35.5,68.9z M19.1,17.7c-2.2,0-3.9,1.8-3.9,3.9v25.5c0,3.2,2.6,5.7,5.7,5.7h29.1c3.2,0,5.7-2.6,5.7-5.7V28.9 c0-3.2-2.6-5.7-5.7-5.7H36.5l-1.9-2.5c-1-1.8-2.9-3-5-3H19.1z M33.3,40.1h4.5l-2.2,2.2L33.3,40.1z'/%3E%3Cpath style='fill:%23FFC44D;' d='M35.5,4.2c17.3,0,31.3,14.1,31.3,31.3S52.8,66.8,35.5,66.8S4.2,52.8,4.2,35.5S18.2,4.2,35.5,4.2 M20.9,54.9h29.1c4.3,0,7.8-3.5,7.8-7.8V28.9c0-4.3-3.5-7.8-7.8-7.8H37.6l-1.2-1.6c-1.4-2.4-3.9-3.9-6.8-3.9H19.1c-3.3,0-6,2.7-6,6 v25.5C13.1,51.4,16.6,54.9,20.9,54.9 M35.5,0C15.9,0,0,15.9,0,35.5C0,55.1,15.9,71,35.5,71S71,55.1,71,35.5C71,15.9,55.1,0,35.5,0 L35.5,0z M20.9,50.7c-2,0-3.6-1.6-3.6-3.6V21.6c0-1,0.8-1.8,1.8-1.8h10.5c1.4,0,2.6,0.8,3.3,2l2.6,3.5h14.6c2,0,3.6,1.6,3.6,3.6 v18.2c0,2-1.6,3.6-3.6,3.6H20.9L20.9,50.7z M37.3,28.9h-3.6V38h-5.5l7.3,7.3l7.3-7.3h-5.5V28.9L37.3,28.9z'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .documents {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    padding-top: 0;

    .document {
      display: flex;
      flex-basis: 100%;
      // justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      border-top: 1px solid #999999;
      color: inherit;
      text-decoration: none;
      // -ms-high-contrast is only supported in IE up to Edge 18
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        padding: 32px 0;
      }

      &:first-of-type,
      &:nth-of-type(2) {
        background-color: #ffae4233;
      }

      &:hover {
        text-decoration: underline;
      }

      &:first-of-type {
        border: none;
      }

      p,
      a {
        margin-right: 1rem;
      }

      // .size {
      // margin-left: auto;
      // }

      .fileName,
      .displayName {
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -webkit-pre-wrap; /* Chrome & Safari */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: pre-wrap; /* CSS3 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
      }

      .fileName {
        margin-left: auto;
        flex-shrink: 1;
      }

      .displayName {
        flex-shrink: 1;
        text-transform: capitalize;
      }

      .ppt,
      .pptx,
      .doc,
      .docx,
      .pdf {
        flex-shrink: 0;
        margin-right: 1rem;
        margin-left: 1rem;
        width: 1.5rem;
        height: 2.5rem;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .pptx,
      .ppt {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 33 48.5' style='enable-background:new 0 0 33 48.5;' xml:space='preserve'%3E%3Cpolyline style='fill:%23E2E2E2;' points='22.6,0 0,0 0,41.5 33,41.5 33,10.5 '/%3E%3Cpath style='fill:%23F1583E;' d='M27.1,37.2l-11,11c-0.1,0.1-0.2,0.1-0.4,0.1s-0.3,0-0.4-0.1l-11-11c-0.1-0.1-0.2-0.4-0.1-0.5 c0.1-0.2,0.3-0.3,0.5-0.3h7.7V23.1c0-0.3,0.2-0.5,0.5-0.5h5.5c0.3,0,0.5,0.2,0.5,0.5v13.2h7.7c0.2,0,0.4,0.1,0.5,0.3 S27.3,37.1,27.1,37.2z M5.1,9v9.3h1.5v-3.5c2.2,0.2,4.7-0.4,4.6-3C11.3,8.5,7.4,9,5.1,9z M6.6,10.3c4.1-0.7,4.1,3.9,0,3.3V10.3z M13.4,9v9.3h1.5v-3.5c2.2,0.2,4.7-0.4,4.6-3C19.7,8.5,15.7,9,13.4,9z M14.9,10.3c4.1-0.7,4.1,3.9,0,3.3V10.3z M24.9,10.3h2.7V9h-7 v1.3h2.7v8h1.5V10.3z'/%3E%3C/svg%3E");
      }

      .docx,
      .doc {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 33 49.8' style='enable-background:new 0 0 33 49.8;' xml:space='preserve'%3E%3Cpolyline style='fill:%23E2E2E2;' points='22.6,0 0,0 0,41.5 33,41.5 33,10.5 '/%3E%3Cpath style='fill:%231261B5;' d='M11.3,14.4c0,4-3.2,4.1-6.4,4v-7.9C8,10.5,11.2,10.4,11.3,14.4z M9.9,14.5c0-2.6-1.6-3-3.7-2.8v5.7 C8.3,17.5,10,16.9,9.9,14.5z M20.2,14.5c0.3,5.4-7.7,5.4-7.4,0C12.5,9.1,20.5,9.1,20.2,14.5z M14.2,14.5c0,1.7,0.6,2.9,2.3,2.9 c1.7,0,2.3-1.2,2.3-2.9C19.1,10.5,14,10.5,14.2,14.5z M25.5,11.6c-2.5-0.1-2.9,3.6-1.8,5.1c0.8,1.1,2.5,0.8,3.7,0.4v1.1 c-8,2.8-7.4-10.5,0.3-7.2L27.3,12C26.7,11.8,26.1,11.5,25.5,11.6z M27.5,37.7c-0.1-0.3-0.4-0.5-0.7-0.5h-7.5v-13 c0-0.4-0.3-0.8-0.8-0.8H13c-0.4,0-0.8,0.3-0.8,0.8v13H4.8c-0.3,0-0.6,0.2-0.7,0.5C4,38,4,38.3,4.2,38.5l11,11 c0.1,0.1,0.3,0.2,0.5,0.2s0.4-0.1,0.5-0.2l11-11C27.5,38.3,27.6,38,27.5,37.7z'/%3E%3C/svg%3E%0A");
      }

      .pdf {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 33 49.5' style='enable-background:new 0 0 33 49.5;' xml:space='preserve'%3E%3Cpolyline style='fill:%23E2E2E2;' points='22.6,0 0,0 0,41.5 33,41.5 33,10.5 '/%3E%3Cpath style='fill:%23C1272D;' d='M27.1,38.4l-11,11c-0.1,0.1-0.2,0.1-0.4,0.1s-0.3,0-0.4-0.1l-11-11c-0.1-0.1-0.2-0.4-0.1-0.5 c0.1-0.2,0.3-0.3,0.5-0.3h7.7V24.3c0-0.3,0.2-0.5,0.5-0.5h5.5c0.3,0,0.5,0.2,0.5,0.5v13.2h7.7c0.2,0,0.4,0.1,0.5,0.3 S27.3,38.2,27.1,38.4z M10.3,8.9C9.8,8.4,8.9,8.1,7.7,8.1H5.1v9.3h1.5v-3.5h1c1.2,0,2.1-0.3,2.7-0.8c0.6-0.5,1-1.3,1-2.2 C11.2,10,10.9,9.3,10.3,8.9z M6.6,9.4h1.1c0.7,0,1.2,0.1,1.5,0.4s0.5,0.7,0.5,1.2c0,0.6-0.2,1-0.5,1.3c-0.4,0.3-0.9,0.4-1.7,0.4H6.6 V9.4z M19.7,9.3c-0.8-0.8-2-1.2-3.4-1.2h-2.9v9.3H16c1.6,0,2.8-0.4,3.7-1.2c0.9-0.8,1.3-2,1.3-3.5C20.9,11.2,20.5,10.1,19.7,9.3z M16,16.1h-1.1V9.4h1.3c2.1,0,3.1,1.1,3.1,3.3C19.3,15,18.2,16.1,16,16.1z M24.8,13.6h3.5v-1.3h-3.5V9.4h3.7V8.1h-5.2v9.3h1.5V13.6z '/%3E%3C/svg%3E%0A");
      }
    }
  }
}
