.footer {
  z-index: 3;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 90%;
  max-width: 85rem;
  // display: flex;
  text-align: right;
  padding-top: 1rem;

  &:before {
    display: block;
    position: relative;
    top: -1rem;
    left: 0rem;
    right: 0rem;
    height: 0.125rem;
    border-radius: 2px;
    background-color: #041e42;
    content: '';

    @media only screen and (max-width: 992px) {
      &:after {
        left: -1rem;
        right: -1rem;
      }
    }
  }

  a {
    display: inline-block;
    margin-left: 1rem;
    height: 5.5rem;
    text-decoration: none;
    color: inherit;

    @media (min-width: 30rem) {
      border-left: 1px solid #041e42;
    }

    img {
      height: 100%;
      padding-left: 1rem;
      padding-top: 1rem;
    }

    .georgetown {
      padding-top: 0;
    }

    p {
      position: absolute;
      font-size: 0.8rem;
      width: 5em;
    }
  }

  a:first-of-type {
    border: none;
  }
}
